/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

body {
    background-image: url('file:///Users/nataliekinsaul/turing/mod1/projects/whats-for-dinner/assets/burger-friends.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
}

header {
    margin: 0;
    height: 10;
    padding: 30;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-recipe-button {
    border-radius: 5px;
    border-style: none;
    padding: 7px;
}

.add-recipe-button:active {
    background-color: rgb(207, 205, 205);
}



main {
    height: 70%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: flex-start;
}

.recipe-generator {
    height: 60%;
    width: 500px;
    background-color:rgba(225, 225, 225, .9);
    opacity: 0.9;
    display: flex;
    align-items: center;
}

.recipe-output {
    display: flex;
    margin: 5px;
    justify-content: space-around;
    align-content: space-around;
}

.cook-pot {
    border: 10px solid black;
    height: 50%;
    width: 400px;
}

.cookpot-image {
    margin: 0;
    height: 30%;
    width: 30%;
    display: block;
    position: relative;
}

.recipe-selector {
    margin:0;
    margin-left: 50px;
    display: flex;  
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
}

label {
    padding: 5;
}

.cook-button {
    padding: 7px 50px;
    background-color:#0fb9b1;
    border-radius: 5px;
    border: none;
}

#recipe-input {
    display: flex;
    justify-content: left;
}

#recipe-result {
    display: flex;
    justify-content: center;
}

.cook-button:active {
    background-color: #0a8c86;
}
